<template>
  <div>
  	<article class="col-md-4" v-for="team, index in teams">
  		<h2 class="team-title text-primary"><strong>{{ team.name }}</strong></h2>
  		<div class="team-loc"><strong>Location: </strong><span class="text-muted">{{ team.country.name }}</span></div>
        <div class="team-desc">{{ team.description }}</div>
	</article>
   </div>
</template>

<script>
    export default {
    	/*
         * The component's data.
         */
        data() {
            return{
                teams: [],
            };
        },
        
        /**
         * Prepare the component (Vue 2.x).
         */
        mounted() {
            this.fetchTeams();
        },
        
        methods: {
        	fetchTeams() {
                axios.get('../api/teams')
                        .then(response => {
                            this.teams = response.data;
                        });
            },
        },
        
    }
</script>
